#carefor
    padding: 40px 0
    .textbox
        h1
            font-weight: 700
            font-size: 60px
            margin: 0 0 10px
        h4
            font-size: 24px
            color: #a8a8a8
    .imgbox
        width: 500px
