body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

#carefor {
  padding: 40px 0;
}
#carefor .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0 0 10px;
  cursor: text;
}
#carefor .textbox h4 {
  font-size: 24px;
  color: #a8a8a8;
  cursor: text;
}
#carefor .imgbox {
  width: 500px;
}
@media (max-width: 991px) {
  #carefor .textbox h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  #carefor .textbox h1 {
    font-size: 45px;
    font-weight: 700;
  }
  #carefor .textbox h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

#welcome {
  padding: 40px 0;
}
#welcome .textbox {
  padding: 80px;
}
#welcome .textbox h1 {
  font-weight: 700;
  font-size: 40px;
  cursor: text;
}
#welcome .textbox h3 {
  color: #868686;
  margin: 20px 0 40px;
  font-size: 20px;
  cursor: text;
}
#welcome .textbox h2, #welcome .textbox h6 {
  margin: 15px 0;
  cursor: text;
}
#welcome .textbox h2 {
  font-size: 33px;
}
#welcome .textbox h6 {
  font-size: 18px;
}
#welcome .textbox .btn {
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #a7b59f;
  color: white;
}
#welcome .textbox .btn:hover {
  background-color: #252525;
}
#welcome .textbox .btn h5 {
  cursor: pointer;
}
#welcome .wid {
  width: 580px;
  padding: 0;
}
@media (max-width: 1199px) {
  #welcome .textbox {
    padding: 8px;
  }
}
@media (max-width: 768px) {
  #welcome .imgbox {
    margin-bottom: 20px;
  }
}

#aboutus {
  padding: 90px 0;
}
#aboutus .textbox {
  padding: 0 100px;
}
#aboutus .textbox h1, #aboutus .textbox h3, #aboutus .textbox p, #aboutus .textbox h4 {
  cursor: text;
}
#aboutus .textbox h1 {
  font-weight: 700;
  font-size: 50px;
  margin: 10px 0;
}
#aboutus .textbox h3, #aboutus .textbox p {
  color: #a8a8a8;
  font-size: 20px;
  font-weight: 100;
  margin: 20px 0 0;
  line-height: 1.6;
}
#aboutus .textbox p {
  font-size: 18px;
  color: #949494;
  line-height: 1.4;
}
#aboutus .textbox li {
  display: flex;
  padding: 20px 0 0 0;
}
#aboutus .textbox .icon {
  padding: 0 15px 0 0;
  color: #5e5656;
}
#aboutus .textbox h4 {
  font-size: 20px;
  color: #949494;
}
#aboutus .imgbox {
  width: 450px;
}
@media (max-width: 991px) {
  #aboutus .textbox {
    padding: 0 5px;
  }
  #aboutus .textbox h1 {
    font-weight: 700;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  #aboutus .textbox {
    padding: 0 35px;
  }
  #aboutus .textbox h4 {
    margin-bottom: 10px;
  }
}
@media (max-width: 530px) {
  #aboutus .textbox {
    padding: 0 20px;
  }
}
@media (max-width: 470px) {
  #aboutus .textbox {
    padding: 0 5px;
  }
}

#ourtrainers {
  padding: 40px 0;
}
#ourtrainers h1, #ourtrainers h3, #ourtrainers h4, #ourtrainers h2 {
  cursor: text;
}
#ourtrainers h1 {
  font-weight: 700;
  font-size: 50px;
}
#ourtrainers h3, #ourtrainers h4 {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
  color: #a8a8a8;
  line-height: 1.4;
}
#ourtrainers .box {
  margin: 0 5px;
}
#ourtrainers .box .textbox {
  padding: 15px;
}
#ourtrainers .box h2 {
  font-weight: 300;
  font-size: 25px;
  padding: 20px 0 0;
}
#ourtrainers .box ul li {
  cursor: pointer;
  margin: 0 10px;
  background-color: #d4cece;
  padding: 10px;
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#ourtrainers .box ul li .icon {
  margin: -7px;
}
#ourtrainers .box ul li .icon i {
  cursor: pointer;
}
#ourtrainers .wid {
  width: 580px;
}
@media (max-width: 767px) {
  #ourtrainers h1 {
    font-size: 40px;
  }
}

#pricingtable {
  padding: 40px 0;
}
#pricingtable .textbox {
  width: 580px;
  text-align: center;
}
#pricingtable .textbox h1, #pricingtable .textbox h5 {
  cursor: text;
}
#pricingtable .textbox h1 {
  font-weight: 700;
  font-size: 45px;
}
#pricingtable .textbox h5 {
  font-weight: 200;
  font-size: 20px;
  color: #000000;
  margin: 20px 0 50px;
}
#pricingtable .box {
  width: 340px;
  color: white;
  background-color: #708f97;
  padding: 50px 30px;
  text-align: center;
}
#pricingtable .box h2, #pricingtable .box h3, #pricingtable .box h4 {
  cursor: text;
}
#pricingtable .box h2 {
  font-size: 25px;
}
#pricingtable .box h3 {
  font-size: 30px;
  margin: 20px 0 0;
}
#pricingtable .box li {
  display: flex;
  justify-content: center;
  margin: 25px 0 0;
}
#pricingtable .box li h4 {
  font-size: 18px;
  margin: 0 0 0 10px;
}
#pricingtable .box .btn {
  padding: 10px 35px;
  margin: 30px 0 0;
  border-radius: 30px;
  background-color: #2b383c;
  color: white;
}
#pricingtable .box .btn:hover {
  background-color: #5b6267;
  transition: 0.5s;
}
#pricingtable .box .btn h6 {
  cursor: pointer;
}
#pricingtable .PREMIUM-color {
  background-color: #2b383c;
}
#pricingtable .PREMIUM-color .btn {
  background-color: #708f97;
}
#pricingtable .PREMIUM-color .btn:hover {
  background-color: #1a1a1a;
}
@media (max-width: 767px) {
  #pricingtable .textbox h1 {
    font-size: 30px;
  }
  #pricingtable .box {
    margin-bottom: 10px;
  }
}

#questions {
  padding: 40px 0;
}
#questions .wid {
  width: 580px;
}
#questions h1, #questions h3 {
  cursor: text;
}
#questions h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 15px 0;
}
#questions h3 {
  font-size: 20px;
  margin: 0 0 40px;
  line-height: 1.4;
}
#questions .textbox {
  padding: 0 60px;
}
#questions .textbox h2 {
  cursor: pointer;
}
#questions .textbox h2, #questions .textbox h4 {
  font-size: 25px;
  margin: 0 0 0 10px;
  color: #717171;
}
#questions .textbox .minibox {
  margin: 20px 0 0 0;
}
#questions .textbox .minibox h2 {
  margin: 0 0 0 10px;
}
#questions .textbox p {
  font-size: 20px;
  margin: 30px 0 0 32px;
  color: #949494;
}
#questions .textbox li {
  margin: 30px 0 0;
  display: flex;
}
#questions .icon {
  color: #d4cece;
}
#questions .icon i {
  font-size: 22px;
}
#questions .bigicon i {
  font-size: 30px;
}
@media (max-width: 991px) {
  #questions .textbox {
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  #questions .textbox h4 {
    margin-bottom: 7px;
  }
  #questions h1 {
    font-size: 38px;
  }
}

#doggerblog {
  padding: 40px 0;
}
#doggerblog .box {
  display: flex;
}
#doggerblog h1, #doggerblog h3 {
  cursor: text;
}
#doggerblog h1 {
  font-weight: 700;
  font-size: 45px;
}
#doggerblog h3 {
  font-size: 20px;
  margin: 30px 0 60px;
}
#doggerblog .textbox {
  margin: 0 0 0 20px;
}
#doggerblog .textbox h2, #doggerblog .textbox h5 {
  cursor: pointer;
}
#doggerblog .textbox h2 {
  font-size: 22px;
}
#doggerblog .textbox h4 {
  font-size: 18px;
  color: #aba8a8;
}
#doggerblog .textbox p {
  font-size: 18px;
  color: #8f8686;
}
#doggerblog .textbox p, #doggerblog .textbox h4 {
  margin: 20px 0 0;
  cursor: text;
}
#doggerblog .textbox h5 {
  font-size: 18px;
  color: #aba8a8;
  margin-top: 15px;
}
#doggerblog .wid {
  width: 580px;
}
@media (max-width: 767px) {
  #doggerblog .textbox {
    margin: 0 10px;
  }
  #doggerblog .textbox h4 {
    margin-bottom: 10px;
  }
  #doggerblog h1 {
    font-size: 35px;
  }
}

#ourservices {
  padding: 40px 0;
}
#ourservices .wid {
  width: 580px;
}
#ourservices h1, #ourservices h3 {
  cursor: text;
}
#ourservices h1 {
  font-weight: 700;
  font-size: 50px;
  padding: 50px 0 0;
}
#ourservices h3 {
  font-size: 20px;
  color: #c6c6c6;
  margin: 30px 0;
}
#ourservices .box {
  padding: 30px 40px;
}
#ourservices .box h2, #ourservices .box h3 {
  cursor: text;
}
#ourservices .box h2 {
  font-size: 25px;
  color: #757575;
  margin: 20px 0 0;
}
#ourservices .box h3 {
  margin: 30px 0 0;
}
#ourservices .box .icon i {
  font-size: 60px;
}
@media (max-width: 991px) {
  #ourservices h1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=style.css.map */